/* style.css*/

#box {
  background: red;
  height: 150px;
  width: 130px;
  margin: 40px auto;
  padding: 50px;
  box-sizing: content-box;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}


/* Colors */

body#colors {
  background: rgba(25, 52, 84, 1);
  color: white;
}

#colors #container {
  width: 600px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  background: rgba (255, 255, 255, 0.1);
  background: hsla(120, 100%, 50%, 0.1);
}

#colors #box {
  /*background: linear-gradient( 73deg, blue, yellow); */
  background: radial-gradient( green, yellow, blue);
}


/* Shadows */

#shadows #container {
  width: 600px;
  margin: 40px auto;
  padding: 20px;
  box-sizing: border-box;
  background: #fc3;
  box-shadow: 0 20px -15px 10px #333;
}

#shadows h1 {
  color: white;
  text-shadow: 0 2px 5px blue, 0 2px 10px red;
}


/* Columns */

#three-columns {
  column-count: 3;
  column-gap: 40px;
  column-rule-style: dashed;
  column-rule-width: 1px;
  column-rule-color: #ddd;
}


